{{version}} <br/>
<amexio-row>
    <amexio-column [size]=4 *ngFor="let node of data">
        <amexio-card [header]="true" [footer]="true">
            <amexio-header>{{node.name}}</amexio-header>
            <amexio-body>
                <amexio-row>
                    <amexio-column [size] =6 >
                            <amexio-image [path]="'https://via.placeholder.com/200x100'" ></amexio-image>
                    </amexio-column>
                    <amexio-column [size] =6 >
                            <amexio-label>Price: {{node.price}} </amexio-label> <br/>
                            <amexio-label>{{node.description}}</amexio-label>       
                    </amexio-column>
                </amexio-row>
            </amexio-body>
            <amexio-action>
                <amexio-button (onClick)="productReview(node)" [label]="'Review'" [type]="'green'" [tooltip]="'Review'">
                </amexio-button> &nbsp;
                <amexio-button (onClick)="addToCart(node)" [label]="'Add to Cart'" [type]="'yellow'" [tooltip]="'Add to Cart'">
                </amexio-button>
            </amexio-action>
        </amexio-card>
    </amexio-column>
</amexio-row>

<amexio-notification
    [data]="notify"
    [vertical-position]="'bottom'"
    [horizontal-position]="'center'"
    [close-on-escape] ="true"
    [background-color]="'black '"
    [foreground-color]="'white'"
    [auto-dismiss-msg]="true"
    [auto-dismiss-msg-interval]="6000">

</amexio-notification>
